@model Inzynierka.Models.Editor
@{
	ViewBag.Title = "Edytor tekstu";
}
<h2>Index</h2>

<p>
    @Html.ActionLink(@Inzynierka.Resources.Strings.Resource.CreateHeader, "Create")
</p>
<table style="border-width: 0;"
       class="table">
    <tr>
        <th>
            Tytuł pracy
        </th>
        <th>

        </th>
    </tr>
</table>