
@{
    ViewBag.Title = "ActivityError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ActivityError</h2>  

<p>Aktywnośc o takim ID nie istnieje</p>
<p>@Html.ActionLink( @Inzynierka.Resources.Strings.Resource.BackText, "Index" )</p>

