@{
    ViewBag.Title = "Kontakt..";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<address>
    Łukasz Pytlak<br />
    Kraków, Skarżyńskiego 9/412<br />
    <abbr title="Phone">P:</abbr>
    790 143 344
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lpytlak27@gmail.com">lpytlak27@gmail.com</a><br />
</address>